.form-field{
  display:  flex;
  flex-direction: column;
  padding: 20px;
}

input, select{
  padding: 5px;
  width: 200px;
}
input:hover{
  border: 2px solid #C6D2D7;
  border-radius: 2px;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn{
  max-width: 150px;
  padding: 10px;
  text-transform: uppercase;
}

h1{
  text-align: center;
  font-weight: bold;
}
